#radar {
  background: linear-gradient(#333, #111);
  box-shadow:
    0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15)
  ;
  padding: 14px;
  border-radius: 100% 100% 5% 5%;
  display: block;
  left: 80%;
  position: absolute;
  top: 40%;
}

canvas {
  background: radial-gradient(#222, #111);
  border-radius: 100% 100% 5% 5%;
  display: block;
}